<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/stylee.css">
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>Dashboard</h2>
        <a href="" class="sidebar-btn">Leave Requests</a>
        <a href="{% url 'logout' %}" class="bottom-btn">Logout</a>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        
        <h1>Admin Dashboard</h1>
        <p>All Leave Requests</p>
    
    <div>    
    <div class="table-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Reason</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for l in leaves %}
                <tr>
                    <td>{{ l.user.username }}</td>
                    <td>{{ l.start_date }}</td>
                    <td>{{ l.end_date }}</td>
                    <td>{{ l.reason }}</td>
                    <td>
                        {% if l.status == "pending" %}
                            <span class="badge pending">Pending</span>
                            {% elif l.status == "approve" %}
                                <span class="badge approved">Approved</span>
                            {% elif l.status == "reject" %}
                                <span class="badge rejected">Rejected</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'update_status' l.id 'approve' %}">Approve</a> |
                        <a href="{% url 'update_status' l.id 'reject' %}">Reject</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="no-data">No Leave Requests Found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</body>
</html>
