<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>Dashboard</h2>
        <a href="" class="sidebar-btn">Leave History </a>
        <a href="{% url 'logout' %}" class="bottom-btn" >Logout </a>
        
    </div>


    <!-- Main Content -->
    <div class="main-content">
        
        <div class="top-bar">
            <a href="{% url 'apply_leave' %}" class="leave-btn"> Apply for Leave</a>
            
        </div>

        
        <h1>Welcome to Dashboard</h1>
        <p>Your Leave History</p>

    </div>
        
    <div class="table-container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>UUID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Reason</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for lr in leave_request %}
            <tr>
                
                <td>{{lr.id}}</td>
                <td>{{ lr.start_date }}</td>
                <td>{{ lr.end_date }}</td>
                <td>{{ lr.reason }}</td>
                <td>
                    {% if lr.status == "pending" %}
                        <span class="badge pending">Pending</span>
                        {% elif lr.status == "approve" %}
                            <span class="badge approved">Approved</span>
                        {% elif lr.status == "reject" %}
                            <span class="badge rejected">Rejected</span>
                    {% endif %}
                </td>
            </tr>

            {% empty %}
            <tr>
                <td colspan="5" class="no-data">No Data Found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>


</body>
</html>
